*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter';
}
body{
    height: 100vh;
    display: grid;
    grid-template-columns: 17rem 1fr 1fr;
    grid-template-rows: 8rem 1fr;
}
.left-menu{
    width: 17rem;
    padding: 2rem;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border-right: 1px solid #000;  

    h4{
        margin-top: 1rem;
        font-weight: normal;
    }
    ul{
        list-style: none;
        
        li{
            margin: 0.425rem 0.8rem 0.8rem;
            
        }
    }
    .title-left-menu{
        display: flex;
        align-items: center;     
        column-gap: 0.3rem;   
        
        h3{
            font-size: 1.2rem;
        }
        img{    
            width: 1.2rem;
            height: 1.2rem;
        }
    }
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    height: 8rem;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    border-bottom: 1px solid #000;

    .header-icons i{
        font-size: 1.5rem;
        cursor: pointer;
        color: #000;
    }
}

.content {
    padding: 2rem;
    grid-column: 2 / 4;
    grid-row: 2 / 3;

    h2{
        color: #333;
    }
}